<div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="15px grid">
    <div fxFlex.xl="calc(33%-15px)" fxFlex.lg="calc(50%-15px)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" *ngIf="usuarios.length > 0">

                    <!-- Position Column -->
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td style="width: 70px;" mat-cell *matCellDef="let usuario">
                            <img [src]="usuario.img | imagen" class="avatar">
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" [routerLink]="['/users-setting']">edit</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="alert" *ngIf="usuarios.length === 0">
                    No Hay Usuarios
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- SERVICIOS -->
    <div fxFlex.xl="calc(33%-15px)" fxFlex.lg="calc(50%-15px)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" *ngIf="usuarios.length > 0">

                    <!-- Position Column -->
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td style="width: 70px;" mat-cell *matCellDef="let usuario">
                            <img [src]="usuario.img | imagen" class="avatar">
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" [routerLink]="['/users-setting']">edit</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="alert" *ngIf="usuarios.length === 0">
                    No Hay Usuarios
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.xl="calc(33%-15px)" fxFlex.lg="calc(50%-15px)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" *ngIf="usuarios.length > 0">

                    <!-- Position Column -->
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td style="width: 70px;" mat-cell *matCellDef="let usuario">
                            <img [src]="usuario.img | imagen" class="avatar">
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" [routerLink]="['/users-setting']">edit</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="alert" *ngIf="usuarios.length === 0">
                    No Hay Usuarios
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.xl="calc(33%-15px)" fxFlex.lg="calc(50%-15px)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" *ngIf="usuarios.length > 0">

                    <!-- Position Column -->
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td style="width: 70px;" mat-cell *matCellDef="let usuario">
                            <img [src]="usuario.img | imagen" class="avatar">
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" [routerLink]="['/users-setting']">edit</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="alert" *ngIf="usuarios.length === 0">
                    No Hay Usuarios
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>