mat-chip {
    font-size: 10px;
    min-height: 17px;
}

mat-icon {
    cursor: pointer;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    padding-top: 5px;
}

td,
th {
    width: auto;
}

.text {
    color: rgba(0, 0, 0, .54);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
}

.icon,
.iconRight {
    float: right;
    font-size: 32px;
    margin-top: 11.5px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.582);
}

.iconRight {
    margin-right: 30px;
}

.paginator {
    width: 100%;
    height: 50px;
    display: inline-block;
}