<mat-card-header class="header">
    <mat-card-title class="header">Actualizar </mat-card-title><br>
    <mat-card-subtitle class="header"> Especie</mat-card-subtitle>
</mat-card-header>

<form [formGroup]="forma" (ngSubmit)="actualizarEspecie()" fxLayout.xs="row wrap" fxLayout="column">

    <mat-form-field>
        <mat-label>Especie</mat-label>
        <input formControlName="especie" class="form-control" matInput placeholder="Ingrese Especie">
    </mat-form-field>

    <div>
        <button [disabled]="forma.invalid" type="submit" class="btn" mat-dialog-close mat-raised-button color="primary" button color="primary"><mat-icon>save</mat-icon> Actualizar</button>
    </div>
</form>